<%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
    <div class="d-flex flex-column justify-content-even my-3">
        <%= form.text_area :text, placeholder: "Add your comment...", rows: 14, required: true, class:"col col-md-6" %>
        <%= form.submit "Comment", class: "btn-secondary col col-md-6" %>
      </div>
    <% end %>