<div class="card p-1">
    <div class="d-flex align-items-center">
        <div class="image"><%= image_tag @user.photo,
            class:'rounded-circle user_avatar'%>
        </div>
        <div class="ml-3 w-100 user_content">
            <h3 class="mb-0 mt-0"><%= @user.name %></h3>
            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                <div class="d-flex flex-column"> <span class="articles">Number of posts</span> <span class="number1"><%=@user.posts_counter%></span> </div>
            </div>
        </div>
    </div>
</div>