<h4 class="text-2xl font-semibold font-headings my-4">Comments:</h4>
<ul>
  <% if comments.length == 0 %>
    <span class="">No comments</span>
  <% else %>
    <% comments.each do |comment| %>
      <li><%= comment.author.name %>: <%= comment.text %></li>
    <% end %>
  <% end %>
</ul>