<div class="container mt-5 d-flex flex-column justify-content-start mb-5">
    <%= render 'users/user_card'%>
    <%= render 'posts/posts'%>
    <%if @user.posts_counter > 2%>
  <div class="button-div">
    <button class="button">
        Pagination
    </button>
  </div>
<%end%>
</div>