<section class="">
  <h1 class="text-4xl font-semibold font-headings mb-4">New post</h1>
  <%= form_with model: @post, url: user_posts_path do |form| %>
    <%= form.text_field :title, placeholder: 'Title', class: 'text-black block' %>
    <%= form.text_area :text, placeholder: 'Text', class: 'text-black block' %>
    <%= form.submit "Publish" %>
  <% end %>
</section>